.button {
    border-style: solid;
    padding: 20px;
    font-size: 30px;
    height: 40px;
    width: 40px;
}

.clicked {
    background: yellow;
}

.clicked.winner {
    background: red;
    color:yellow;
}