body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    background-color: beige;
    padding: 3rem;
    width: 30vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start
}

.error {
    background-color: red;
    padding: 1rem;
    border-radius: 10px;
    width:100%;

}

.btn-login {
    background-color: blue;
    margin-top:1rem;
    width:100%;
    padding:1rem;
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}


input{
    width:100%;
}

#hide-password{
 
    background:url("/public/hide.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width:20px;
    height:20px;
    position: absolute;
    right:0;
    top:0;
}


.pass-container{
    position:relative;
    width:100%;
}

